--title 'MovingImages Documentation'
--readme README.md
--markup markdown
--markup-provider redcarpet
--output-dir ./docs
-
LICENSE.txt

./markdown/Alpha3MovingImages
./markdown/AsynchronousCommands
./markdown/BaseObjectTypesAndPresets
./markdown/Contents
./markdown/CreatingObjects
./markdown/Drawing
./markdown/DrawingCommandsProperties
./markdown/home
./markdown/ImageFilterChains
./markdown/ImageMetadata
./markdown/Introduction
./markdown/JSONandPropertyLists
./markdown/JSONCommandsPropertyKeysAndValues
./markdown/MIFilterChainJSONKeys
./markdown/MovingImagesFramework
./markdown/MovingImagesLaunchAgentMeta
./markdown/PlayingWithObjects
./markdown/Scripts

