
--title 'MovingImages Documentation'
--readme README.md
--markup markdown
--markup-provider redcarpet
--output-dir ./docs
--template-path '/Users/ktam/gitlab/movingimages-documentation/yard-resources/templates'
--template moving-images
--verbose
-
LICENSE.txt

./markdown/AsynchronousCommands
./markdown/BaseObjectTypesAndPresets
./markdown/Contents
./markdown/CreatingObjects
./markdown/Drawing
./markdown/DrawingCommandsProperties
./markdown/home
./markdown/ImageFilterChains
./markdown/ImageMetadata
./markdown/Introduction
./markdown/JSONandPropertyLists
./markdown/JSONCommandsPropertyKeysAndValues
./markdown/MIFilterChainJSONKeys
./markdown/MovieEditor
./markdown/MovingImagesLaunchAgentMeta
./markdown/MovingImagesFramework
./markdown/MovieImporter
./markdown/PlayingWithObjects
./markdown/Scripts
./markdown/VideoFramesWriter
