--title 'MovingImages Documentation'
--readme README.md
--markup markdown
--markup-provider redcarpet
--output-dir ./docs
-
LICENSE.txt

./markdown/AsynchronousCommands
./markdown/Contents
./markdown/CreatingObjects
./markdown/Drawing
./markdown/home
./markdown/ImageFilterChains
./markdown/ImageMetadata
./markdown/Introduction
./markdown/JSONandPropertyLists
./markdown/PlayingWithObjects
./markdown/Scripts
